body {
}

#main {
    height: 100%;
    min-height: 100vh;
}

.btn-label {
    background-color: var(--success) !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-label:hover {
    border-color: var(--success) !important;
}

.col-3 {
    padding-left: 16px;
    padding-right: 0;
}

.col-3 .flex-column {
    height: 100%;
}

.dropdown-item input {
    margin-right: 8px;
    margin-left: -0.4rem;
    position: unset;
}

.dropdown-toggle {
}

.i18n-on_double_click {
    margin-left: 0.5rem;
}

.row {
    padding-right: 16px;
}

.list-group-item.active {
    color: var(--secondary) !important;
}

.list-label {
}

.list-label button.btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--light);
    text-align: left;
    flex-grow: 0;
}

.task .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tasks-list {
    padding: 5px;
}
